/*-------------------------------------------------
GLOBAL TYPOGRAPHY
=================================================== */

html {
  font: 1.2em/1.7 'PT Serif', serif;
  color: #67645e;
}
h1 {
  font: 2.7em/1 'Roboto Condensed', sans-serif;
  font-weight: 700;
  color: #21221a;
  letter-spacing: -0.02em;
}
h2 {
  font: 0.8em/1 'Roboto Condensed', sans-serif;
  color: #67645e;
  font-weight: 300;
  text-transform: uppercase;
}
